:root {
	--yellow: #FCF16E;
	--red: #DB544D;
	--black: #222;
	--fontbody: 30px;
	--buttonBg: #BB5574;
	--buttonBorder: #A83751;
	--buttonBorderExt: #495159;
	--bubbleBg: #F4EFD7;
	--bubbleBorder: #E7E1B5;
	--bubbleBorderExt: #705C3A;
}

@font-face {
    font-family: Calisto;
    src: url("./Ressources/font/calisto-mt.ttf");
}

html {
	overflow-x: hidden;
}


body {
	overflow-x: hidden;
	font-family: "Calisto", Times, serif !important;
}

body * {
	font-family: "Calisto", Times, serif !important;
}

.bouton {
	
	background: transparent;
	border: none !important;
	font-size:0;
	position: absolute;
	right:0;
	bottom: 0;
	width: 60vw;
	height: 40vh;
	padding: 0;
	margin: 0;
}


body {
	margin:0;
	height: 100vh;
}

html {
	height:100%;
}

div {
	height:100vh;
	position: relative;
}

img {
	width:100%;
	min-height: 100%;
	height:auto;
}

.blocData {
	position: absolute;
	left:10%;
	top: 40%;
	width: 78%;
	height: 60%;
	filter: drop-shadow(5px 5px 25px rgba(0,0,0,0.7));
	text-align: right;
}

.blocData p {
	font-size: 40px;
	background: var(--bubbleBg);
	border: 5px solid var(--bubbleBorder);
	outline: 5px solid var(--bubbleBorderExt);
	padding: 30px;
	color: var(--bubbleBorderExt);
	border-radius: 100px;
	text-align: center;
}

.data {
	background: var(--bubbleBg);
	border: 5px solid var(--bubbleBorder);
	outline: 5px solid var(--bubbleBorderExt);
	width: 100%;
	height: 150px;
	margin-bottom: 50px !important;
	font-size: 50px;
	padding: 25px;
	margin: 0;
	border-radius: 5px;
	text-align: left;
}

.boutonForm {
	background: var(--buttonBg);
	border: 5px solid var(--buttonBorder);
	outline: 5px solid var(--buttonBorderExt);
	font-size:50;
	width: 50%;
	height: 150px;
	padding: 0;
	margin: 0;
	color: white;
	border-radius: 5px;
}